body{
    font-family: "sans-sarif";
    font-weight: bold;
    
}

.container{
    width:15rem;
    height:15rem;
    margin:0 25rem;
    padding:1rem;
    margin-top:5rem;
    border-style: solid;
    border-width: medium;
    
}

.button {
   
    border: none;
    color: white;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 3ms;
    cursor: mouse;
  }
  
  
  .button5 {
      margin-top: 3rem;
      background-color: white;
    color: black;
     
      border: 2px solid #555555;
    }
    
    .button:hover{
        background-color: black;
        color: white;
    }